body {
    max-width: 1440px;
    width: 70%;
    margin: auto;

}

.header__sec h1 {
    text-align: center;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

hr {
    max-width: 90%;
}

a:hover{
    font-weight: bold;
    color: red;
    opacity: 0.4;

}
/* header one */
.header__img {
    max-width: 100%;
}

.header__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Alein species Secction */

.aleinspecies__conteiner {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
}

.alein__card {
    margin: 0;
    padding: 10px;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: wheat;
    text-align: center;

}

.alein__card span {
    max-width: 300px;
}

.alein__img {
    width: 300px;
    overflow: hidden;
}

.alein__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Bio Scanner index section */
.bioscaner table,
th,
td,
tr {
    border: 1px solid black;
    min-width: 50%;
    min-height: 300px;
    width: fit-content;
    margin: 0 auto;
}

/* Planet habits section */

/* grid sistemin ??????? */
.planet__conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 0 auto;
}

.planetcard {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.planet__img {
    width: 350px;
    object-position: center;
    overflow: hidden;
}

.planet__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer */
footer{
    
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}